/*
Theme Name: Wal Divi Child
Theme URI: https://www.odsoluciones.com
Template: Divi
Author: OD
Author URI: https://www.odsoluciones.com
Description: Online course
Tags: responsive-layout,one-column,two-columns,three-columns,four-columns,left-sidebar,right-sidebar,custom-background,custom-colors,featured-images,full-width-template,post-formats,rtl-language-support,theme-options,threaded-comments,translation-ready
Version: 4.4.3.1587127256
Updated: 2020-04-17 08:40:56

*/
.et_pb_login_form {
  width: 100% !important;
  padding: 0 !important; }

#top-menu .sub-menu li {
  padding: 0;
  width: 100%; }
  #top-menu .sub-menu li a {
    font-size: 14px;
    width: 100%; }

#top-menu .mobile_menu_bar_toggle:before {
  color: black; }

#top-menu #mobile_menu {
  border-color: black; }

.memb_form_module #loginform label, .memb_form_module form#memb_password_send-1 label {
  width: 100%;
  display: block;
  color: white; }

.memb_form_module #loginform input[type="text"], .memb_form_module form#memb_password_send-1 input[type="text"],
.memb_form_module #loginform input[type="password"],
.memb_form_module form#memb_password_send-1 input[type="password"],
.memb_form_module #loginform input[type="email"],
.memb_form_module form#memb_password_send-1 input[type="email"] {
  width: 100%;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 15px;
  padding: 12px 10px; }

.memb_form_module #loginform .button-primary, .memb_form_module form#memb_password_send-1 .button-primary {
  background: none;
  border: 2px solid white;
  border-radius: 3px;
  padding: 12px 10px;
  font-size: 15px;
  color: white;
  width: 100%; }

.memb_form_module form#memb_password_send-1 #memb_password_send-1-block2 input {
  background: none;
  border: 2px solid white;
  border-radius: 3px;
  padding: 12px 10px;
  font-size: 15px;
  color: white;
  width: 100%;
  margin-top: 10px; }

#registration_form_1 strong {
  width: 100%;
  display: block; }

#registration_form_1 input[type="text"],
#registration_form_1 input[type="password"],
#registration_form_1 input[type="email"] {
  width: 100%;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 15px;
  padding: 12px 10px;
  margin-bottom: 10px; }

#registration_form_1 input[type="submit"] {
  background: none;
  border: 2px solid black;
  border-radius: 3px;
  padding: 12px 10px;
  font-size: 15px;
  color: black;
  width: 100%; }

#registration_form_1 select {
  width: 100%;
  height: 40px; }

form[name="change_email_1"] label {
  width: 100%;
  display: block;
  color: black; }

form[name="change_email_1"] input[type="text"],
form[name="change_email_1"] input[type="email"] {
  width: 100%;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 15px;
  padding: 12px 10px; }

form[name="change_email_1"] .button-primary {
  background: none;
  border: 2px solid white;
  border-radius: 3px;
  padding: 12px 10px;
  font-size: 15px;
  color: white;
  width: 100%; }

form[name="change_email_1"] input[type="submit"] {
  background: none;
  border: 2px solid black;
  border-radius: 3px;
  padding: 12px 10px;
  font-size: 15px;
  color: black;
  width: 100%; }

#memb_password_change-1 label {
  width: 100%;
  display: block;
  color: black; }

#memb_password_change-1 input[type="password"] {
  width: 100%;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 15px;
  padding: 12px 10px; }

#memb_password_change-1 .button-primary {
  background: none;
  border: 2px solid white;
  border-radius: 3px;
  padding: 12px 10px;
  font-size: 15px;
  color: white;
  width: 100%; }

#memb_password_change-1 input[type="submit"] {
  background: none;
  border: 2px solid black;
  border-radius: 3px;
  padding: 12px 10px;
  font-size: 15px;
  color: black;
  width: 100%; }

#memb_addupdate_creditcard-1 label,
#memb_addupdate_creditcard-2 label {
  width: 100%;
  display: block; }

#memb_addupdate_creditcard-1 input[type="text"],
#memb_addupdate_creditcard-1 input[type="password"],
#memb_addupdate_creditcard-1 input[type="email"],
#memb_addupdate_creditcard-1 input[type="tel"],
#memb_addupdate_creditcard-2 input[type="text"],
#memb_addupdate_creditcard-2 input[type="password"],
#memb_addupdate_creditcard-2 input[type="email"],
#memb_addupdate_creditcard-2 input[type="tel"] {
  width: 100%;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 15px;
  padding: 12px 10px;
  margin-bottom: 10px;
  margin-bottom: 10px; }

#memb_addupdate_creditcard-1 input[type="submit"],
#memb_addupdate_creditcard-2 input[type="submit"] {
  background: none;
  border: 2px solid black;
  border-radius: 3px;
  padding: 12px 10px;
  font-size: 15px;
  color: black;
  width: 100%; }

#memb_addupdate_creditcard-1 select,
#memb_addupdate_creditcard-2 select {
  width: 100%;
  height: 40px;
  font-size: 15px;
  margin-bottom: 10px; }

#memb_addupdate_creditcard-1 input[type="submit"],
#memb_addupdate_creditcard-2 input[type="submit"] {
  background: none;
  border: 2px solid black;
  border-radius: 3px;
  padding: 12px 10px;
  font-size: 15px;
  color: black;
  width: 100%; }

#ez-toc-container nav ul {
  list-style: none;
  padding-left: 0; }
  #ez-toc-container nav ul li {
    border-bottom: 1px solid gray; }
    #ez-toc-container nav ul li a {
      padding: 10px 0;
      display: inline-block;
      width: 100%; }
    #ez-toc-container nav ul li:last-child {
      border: 0; }

body.single-module .et_post_meta_wrapper {
  display: none; }

body.single-module h2 {
  background-color: #d3d3d3a8;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px; }

.dashboard-modules .post-content .more-link {
  display: inline-block;
  margin: 22px 0 5px;
  padding: 6px 22px;
  background: black;
  color: white;
  border-radius: 10px;
  text-transform: capitalize; }

.dashboard-modules .no-access {
  opacity: 0.4 !important; }

body.single-module #main-content h2 {
  margin-top: 15px; }

#menu-account li {
  width: 100%; }

#gform_submit_button_1 {
  color: black;
  border-color: black;
  width: 100%; }

body.single-resources .et_post_meta_wrapper {
  display: none; }

body.single-exercise .et_post_meta_wrapper {
  display: none; }

body.single-exercise .et_pb_row {
  width: 100% !important; }

.learndash-wrapper a.et_pb_button {
  filter: none !important; }

.learndash-wrapper h2 {
  font-size: 29px !important; }

.learndash-wrapper .ld-focus-content h1 {
  font-size: 35px !important; }

.ld-focus-header {
  background: #01243d !important; }
  .ld-focus-header .ld-brand-logo {
    background: #01243d !important; }
  .ld-focus-header .ld-progress .ld-progress-wrap .ld-progress-heading .ld-progress-stats {
    color: white; }
    .ld-focus-header .ld-progress .ld-progress-wrap .ld-progress-heading .ld-progress-stats .ld-progress-percentage {
      color: white !important; }
    .ld-focus-header .ld-progress .ld-progress-wrap .ld-progress-heading .ld-progress-stats .ld-progress-steps {
      color: white; }
  .ld-focus-header .ld-content-actions .ld-button {
    color: white !important; }
    .ld-focus-header .ld-content-actions .ld-button .ld-icon {
      color: white !important; }
  .ld-focus-header .ld-content-actions .ld-content-action .sfwd-mark-complete .learndash_mark_complete_button {
    color: white !important; }
  .ld-focus-header .ld-content-actions .ld-content-action .sfwd-mark-complete:after {
    color: white !important; }

.learndash-cpt-sfwd-courses-7452-parent .ld-focus-header .ld-progress,
.postid-7452 .ld-focus-header .ld-progress {
  display: none !important; }

.learndash-cpt-sfwd-courses-7452-parent .ld-focus-header .ld-content-actions,
.postid-7452 .ld-focus-header .ld-content-actions {
  display: none !important; }

.learndash-cpt-sfwd-courses-7452-parent .learndash-wrapper .ld-course-status,
.postid-7452 .learndash-wrapper .ld-course-status {
  display: none !important; }

.learndash-cpt-sfwd-courses-7452-parent .learndash-wrapper .ld-lesson-topic-list,
.postid-7452 .learndash-wrapper .ld-lesson-topic-list {
  display: none !important; }

.learndash-cpt-sfwd-courses-7452-parent .learndash-wrapper .ld-status,
.postid-7452 .learndash-wrapper .ld-status {
  display: none !important; }

.learndash-cpt-sfwd-courses-7452-parent .learndash-wrapper .ld-content-actions,
.postid-7452 .learndash-wrapper .ld-content-actions {
  display: none; }

.learndash-cpt-sfwd-courses-7452-parent .learndash-wrapper .ld-table-list-lesson-details,
.postid-7452 .learndash-wrapper .ld-table-list-lesson-details {
  display: none !important; }

.ld_course_grid {
  margin-bottom: 30px; }
  .ld_course_grid article {
    position: relative; }
    @media (min-width: 992px) {
      .ld_course_grid article img {
        height: 258px; } }
    .ld_course_grid article .ld_course_grid_price {
      position: absolute;
      padding: 5px;
      color: white;
      background: #000;
      top: 0;
      left: 0; }
    .ld_course_grid article .ld_course_grid_price.free {
      display: none; }
    .ld_course_grid article .ld_course_grid_price.ribbon-enrolled {
      background: #01243d !important; }
    .ld_course_grid article .caption {
      padding: 15px 20px 10px;
      background: whitesmoke;
      text-align: center; }
      .ld_course_grid article .caption h3 {
        color: #000;
        font-size: 20px;
        padding: 10px 0 0; }
        @media (min-width: 992px) {
          .ld_course_grid article .caption h3 {
            min-height: 48px; } }
    .ld_course_grid article p.ld_course_grid_button {
      margin-top: 0 !important; }
      .ld_course_grid article p.ld_course_grid_button a {
        color: white !important;
        background: #01243d !important;
        border: 1px solid #000 !important;
        margin: auto !important;
        max-width: 200px !important;
        font-size: 15px !important; }
        .ld_course_grid article p.ld_course_grid_button a:hover {
          background: white !important;
          color: #01243d !important; }
    .ld_course_grid article:not(.enrolled) img {
      -webkit-filter: grayscale(100%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(100%); }
    .ld_course_grid article:not(.enrolled) .caption {
      padding: 20px; }
    .ld_course_grid article:not(.enrolled) .entry-title {
      color: gray !important; }
    .ld_course_grid article:not(.enrolled) .ld_course_grid_button a.btn {
      background: gray !important;
      border-color: gray !important; }
      .ld_course_grid article:not(.enrolled) .ld_course_grid_button a.btn:hover {
        background: gray !important;
        border-color: gray !important; }

.learndash-wrapper .ld-focus .et-boc,
.learndash-wrapper .ld-focus .et-boc .ld-focus-main .ld-focus-content {
  width: 100%; }
