/*
Theme Name: Wal Divi Child
Theme URI: https://www.odsoluciones.com
Template: Divi
Author: OD
Author URI: https://www.odsoluciones.com
Description: Online course
Tags: responsive-layout,one-column,two-columns,three-columns,four-columns,left-sidebar,right-sidebar,custom-background,custom-colors,featured-images,full-width-template,post-formats,rtl-language-support,theme-options,threaded-comments,translation-ready
Version: 4.4.3.1587127256
Updated: 2020-04-17 08:40:56

*/

// ==========================================================================
// Mixxin
// ==========================

//Responsive

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

//Colors
$black: #000;
$color-gray-light-bg: whitesmoke;

//Login Module
.et_pb_login_form {
  width: 100% !important;
  padding: 0 !important;
}

//header
#top-menu {
  .sub-menu {
    li {
      padding: 0;
      width: 100%;
      a {
        font-size: 14px;
        width: 100%;
      }
    }
  }
  .mobile_menu_bar_toggle {
    &:before {
      color: black;
    }
  }
  #mobile_menu {
    border-color: black;
  }
}

//memb forms
.memb_form_module {
  #loginform {
    label {
      width: 100%;
      display: block;
      color: white;
    }
    input[type="text"],
    input[type="password"],
    input[type="email"] {
      width: 100%;
      border-radius: 5px;
      margin-top: 5px;
      font-size: 15px;
      padding: 12px 10px;
    }
    .button-primary {
      background: none;
      border: 2px solid white;
      border-radius: 3px;
      padding: 12px 10px;
      font-size: 15px;
      color: white;
      width: 100%;
    }
  }
  form#memb_password_send-1 {
    @extend #loginform;
    #memb_password_send-1-block2 {
      input {
        background: none;
        border: 2px solid white;
        border-radius: 3px;
        padding: 12px 10px;
        font-size: 15px;
        color: white;
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}

#registration_form_1 {
  strong {
    width: 100%;
    display: block;
  }
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 15px;
    padding: 12px 10px;
    margin-bottom: 10px;
  }
  input[type="submit"] {
    background: none;
    border: 2px solid black;
    border-radius: 3px;
    padding: 12px 10px;
    font-size: 15px;
    color: black;
    width: 100%;
  }
  select {
    width: 100%;
    height: 40px;
  }
}

form[name="change_email_1"] {
  label {
    width: 100%;
    display: block;
    color: black;
  }
  input[type="text"],
  input[type="email"] {
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 15px;
    padding: 12px 10px;
  }
  .button-primary {
    background: none;
    border: 2px solid white;
    border-radius: 3px;
    padding: 12px 10px;
    font-size: 15px;
    color: white;
    width: 100%;
  }
  input[type="submit"] {
    background: none;
    border: 2px solid black;
    border-radius: 3px;
    padding: 12px 10px;
    font-size: 15px;
    color: black;
    width: 100%;
  }
}

#memb_password_change-1 {
  label {
    width: 100%;
    display: block;
    color: black;
  }
  input[type="password"] {
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 15px;
    padding: 12px 10px;
  }
  .button-primary {
    background: none;
    border: 2px solid white;
    border-radius: 3px;
    padding: 12px 10px;
    font-size: 15px;
    color: white;
    width: 100%;
  }
  input[type="submit"] {
    background: none;
    border: 2px solid black;
    border-radius: 3px;
    padding: 12px 10px;
    font-size: 15px;
    color: black;
    width: 100%;
  }
}

#memb_addupdate_creditcard-1,
#memb_addupdate_creditcard-2 {
  label {
    width: 100%;
    display: block;
  }
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"] {
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 15px;
    padding: 12px 10px;
    margin-bottom: 10px;
    margin-bottom: 10px;
  }
  input[type="submit"] {
    background: none;
    border: 2px solid black;
    border-radius: 3px;
    padding: 12px 10px;
    font-size: 15px;
    color: black;
    width: 100%;
  }
  select {
    width: 100%;
    height: 40px;
    font-size: 15px;
    margin-bottom: 10px;
  }
  input[type="submit"] {
    background: none;
    border: 2px solid black;
    border-radius: 3px;
    padding: 12px 10px;
    font-size: 15px;
    color: black;
    width: 100%;
  }
}
//module
#ez-toc-container {
  nav {
    ul {
      list-style: none;
      padding-left: 0;
      li {
        border-bottom: 1px solid lighten($black, 50%);
        a {
          padding: 10px 0;
          display: inline-block;
          width: 100%;
        }
        &:last-child {
          border: 0;
        }
      }
    }
  }
}
body.single-module {
  .et_post_meta_wrapper {
    display: none;
  }
  h2 {
    background-color: #d3d3d3a8;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
  }
}

//dashboard
.dashboard-modules {
  .post-content {
    .more-link {
      display: inline-block;
      margin: 22px 0 5px;
      padding: 6px 22px;
      background: black;
      color: white;
      border-radius: 10px;
      text-transform: capitalize;
    }
  }

  .no-access {
    opacity: 0.4 !important;
  }
}

//module
body.single-module {
  #main-content {
    h2 {
      margin-top: 15px;
    }
  }
}

//account
#menu-account {
  li {
    width: 100%;
  }
}

#gform_submit_button_1 {
  color: black;
  border-color: black;
  width: 100%;
}
//resources
body.single-resources {
  .et_post_meta_wrapper {
    display: none;
  }
}
// excersices
body.single-exercise {
  .et_post_meta_wrapper {
    display: none;
  }
  .et_pb_row {
    width: 100% !important;
  }
}

// 2020
// leandarsh

.learndash-wrapper a.et_pb_button {
  // border-bottom: 2px solid;
  filter: none !important;
}

.learndash-wrapper {
  //topic page
  h2 {
    font-size: 29px !important;
  }

  //Post title
  .ld-focus-content {
    h1 {
      font-size: 35px !important;
    }
  }
}

.ld-focus-header {
  background: #01243d !important;
  .ld-brand-logo {
    background: #01243d !important;
  }
  .ld-progress {
    .ld-progress-wrap {
      .ld-progress-heading {
        .ld-progress-stats {
          color: white;
          .ld-progress-percentage {
            color: white !important;
          }
          .ld-progress-steps {
            color: white;
          }
        }
      }
    }
  }
  .ld-content-actions {
    .ld-button {
      color: white !important;
      .ld-icon {
        color: white !important;
      }
    }
    .ld-content-action {
      .sfwd-mark-complete {
        .learndash_mark_complete_button {
          color: white !important;
        }
        &:after {
          color: white !important;
        }
      }
    }
  }
}
.learndash-cpt-sfwd-courses-7452-parent,
.postid-7452 {
  .ld-focus-header {
    .ld-progress {
      display: none !important;
    }
    .ld-content-actions {
      display: none !important;
    }
  }
  .learndash-wrapper {
    .ld-course-status {
      display: none !important;
    }
    .ld-lesson-topic-list {
      display: none !important;
    }
    .ld-status {
      display: none !important;
    }
    .ld-content-actions {
      display: none;
    }
    .ld-table-list-lesson-details {
      display: none !important;
    }
  }
}

// =============
// course grid
.ld_course_grid {
  margin-bottom: 30px;
  article {
    position: relative;
    img {
      @include breakpoint(md) {
        height: 258px;
      }
    }
    .ld_course_grid_price {
      position: absolute;
      padding: 5px;
      color: white;
      background: $black;
      top: 0;
      left: 0;
      // display: none;
    }
    .ld_course_grid_price.free {
      display: none;
    }
    .ld_course_grid_price.ribbon-enrolled {
      //display: none;
      background: #01243d !important;
    }
    .caption {
      padding: 15px 20px 10px;
      background: $color-gray-light-bg;
      text-align: center;
      h3 {
        color: $black;
        font-size: 20px;
        padding: 10px 0 0;
        @include breakpoint(md) {
          min-height: 48px;
        }
      }
    }
    p.ld_course_grid_button {
      margin-top: 0 !important;
      a {
        // @extend .btn;
        // @extend .btn-blue;
        // @extend .btn-sm;
        color: white !important;
        background: #01243d !important;
        border: 1px solid $black !important;
        margin: auto !important;
        max-width: 200px !important;
        font-size: 15px !important;
        &:hover {
          background: white !important;
          color: #01243d !important;
        }
      }
    }
    &:not(.enrolled) {
      img {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
      .caption {
        padding: 20px;
      }
      .ld_course_grid_price {
      }
      .entry-title {
        color: gray !important;
      }
      .ld_course_grid_button {
        a.btn {
          background: gray !important;
          border-color: gray !important;
          &:hover {
            background: gray !important;
            border-color: gray !important;
          }
        }
      }
    }
  }
}

.learndash-wrapper .ld-focus .et-boc,
.learndash-wrapper .ld-focus .et-boc .ld-focus-main .ld-focus-content {
  width: 100%;
}
